In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"green_tripdata_2019-09.csv.gz", low_memory=False)

In [5]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,0.50,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,0.50,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.00,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.00,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.00,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.00,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.00,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [15]:
df.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [13]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [14]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,0.50,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,0.50,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.00,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.00,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.00,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.00,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.00,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [17]:
# Filter the DataFrame for trips that started and ended on September 18th, 2019
filtered_df = df[
    (df['lpep_pickup_datetime'].dt.date == pd.to_datetime('2019-09-18').date()) & 
    (df['lpep_dropoff_datetime'].dt.date == pd.to_datetime('2019-09-18').date())
]

# Count the number of rows in the filtered DataFrame, which represents the number of trips
total_trips = len(filtered_df)
print(total_trips)

15612

In [18]:
# Convert the pickup datetime column to datetime objects
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])

# Extract the date from the pickup datetime and create a new column
df['pickup_date'] = df['lpep_pickup_datetime'].dt.date

# Group the data by pickup date and calculate the sum of trip distances for each day
pickup_distance_by_date = df.groupby('pickup_date')['trip_distance'].sum()

# Find the pickup day with the largest total trip distance
day_with_largest_distance = pickup_distance_by_date.idxmax()
largest_distance = pickup_distance_by_date.max()

# Print the result
print("Pickup day with the largest trip distance:", day_with_largest_distance)
print("Total trip distance on that day:", largest_distance)

Pickup day with the largest trip distance: 2019-09-26
Total trip distance on that day: 58759.94

In [20]:
df2 = pd.read_csv(r"taxi+_zone_lookup.csv")

In [22]:
# Merge pickup locations with boroughs
merged_df = pd.merge(df, df2, left_on='PULocationID', right_on='LocationID')

# Filter the merged DataFrame for trips on September 18, 2019 and where the Borough is not Unknown
filtered_df = merged_df[(merged_df['lpep_pickup_datetime'].dt.date == pd.to_datetime('2019-09-18').date()) & (merged_df['Borough'] != 'Unknown')]

# Group the data by Borough and calculate the sum of total_amount for each Borough
borough_total_amount = filtered_df.groupby('Borough')['total_amount'].sum()

# Get the top 3 pickup boroughs with the highest sum of total_amount
top_boroughs = borough_total_amount.nlargest(3)

# Print the result
print("The top 3 pickup boroughs with a sum of total_amount greater than 50000 on September 18, 2019:")
print(top_boroughs)

The top 3 pickup boroughs with a sum of total_amount greater than 50000 on September 18, 2019:
Borough
Brooklyn     96333.24
Manhattan    92271.30
Queens       78671.71
Name: total_amount, dtype: float64

In [27]:
# Filter the DataFrame for trips in September 2019 with a pickup zone of "Astoria"
astoria_trips = df[(df['lpep_pickup_datetime'].dt.month == 9) &
                   (df['lpep_pickup_datetime'].dt.year == 2019) &
                   (df['PULocationID'].isin(df2[df2['Zone'] == 'Astoria']['LocationID']))]

# Find the trip with the largest tip amount
largest_tip_trip = astoria_trips.loc[astoria_trips['tip_amount'].idxmax()]

# Get the drop-off zone name corresponding to the DOLocationID
dropoff_zone_id = largest_tip_trip['DOLocationID']
dropoff_zone_name = df2[df2['LocationID'] == dropoff_zone_id]['Zone'].values[0]

# Print the result
print("The drop-off zone with the largest tip amount for passengers picked up in Astoria in September 2019 is:", dropoff_zone_name)

The drop-off zone with the largest tip amount for passengers picked up in Astoria in September 2019 is: JFK Airport